
<div>
    <div class="mb-3">
      <label class="fw-bold">@{{user.userName}}</label>
      
    </div>
    <div class="mb-3">
      <label class="fw-bold">nombre</label>
      <div>
         {{user.name}}
       
    </div>

    <h6>Tweets</h6>

    {{#each tweets as |tweet|}}

    <div class="card" style="width: 18rem;">
    <div class="card-body">
    
        <h5 class="card-title">{{tweet.user.userName}}</h5>
        <p class="card-subtitle mb-2 text-body-secondary">{{inputDateFormat tweet.createdAt}}</p>
        <h6 class="card-text">{{tweet.message}}</h6>
   
    </form>
    
  </div>
    </div>
{{/each}} 


<div class="mb-3 d-flex border-bottom pb-3">
    <a class="btn btn-primary" href="/tweets/new">Nuevo tweet</a>
</div>

</div>
 